.footer{
  color: #ffffff;
  color: #ffff;
  margin:0 auto
}

.footer__copyright{
  width: 166px;
  height: 16px;
  margin-left: 556px;
  margin-top: 92px;
  margin-bottom: 0;
  padding-bottom: 24px;
  text-align: center;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;

}

@media screen and (max-width: 768px){
.footer__copyright{
  height: 16px;
  width: 166px;
  margin-left: 300px;
  margin-top:88px;
  margin-bottom: 0;
}
}

@media screen and (max-width: 320px){
.footer{
  width:100%;
}

  .footer__copyright{
    height: 16px;
    width: 166px;
    margin-left: 77px;
    margin-top:64px;
    margin-bottom: 0;

  }
}